#google_translate_element {
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-top: 14px;

}

.goog-te-gadget {
  font-size: 0 !important;
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  background: #111827;
  color: #ffffff;
  border: 1px solid #374151;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px !important;
  cursor: pointer;
  outline: none;
  min-width: 160px;
}

.goog-te-gadget .goog-te-combo option {
  color: black;
}

.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

:root {
  --vp-c-brand-1: #0c7484;
  --vp-c-brand-2: #0c7484;
  --vp-c-brand-3: #0c7484;
}

/* Active sidebar/nav item */
.VPNavBarMenuLink.active,
.VPSidebarItem.is-active > .item .link,
.VPSidebarItem .link.active {
  color: #0c7484 !important;
}

/* Left border / highlight */
.VPSidebarItem.is-active > .item .indicator {
  background-color: #0c7484 !important;
}
/* Right side outline links */
.VPDocOutlineItem.active > .outline-link,
.VPDocOutlineItem .outline-link:hover {
  color: #0c7484 !important;
}

/* Active outline left border */
.VPDocOutlineItem.active {
  border-left: 2px solid #0c7484 !important;
}

/* Optional: all outline links */
.VPDocAsideOutline .outline-link {
  transition: 0.2s;
}

.VPDocAsideOutline .outline-marker {
  background-color: #0c7484 !important;
}